

:root{
  --main:rgb(8, 8, 8);
  --second: rgb(73, 179, 211);
  --third: rgb(245,245,245);
  --fourth:rgb(121, 159, 121);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 100;
}

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html {
  background-color: --third;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  justify-content: space-between;
}

.anchor{
  text-decoration:none;
  cursor:default;
}
.about-body{
    display: flex;
    flex-direction: row-reverse;
    background-repeat: no-repeat;
    background-size:50%;
    background-position-x: 0em;
    background-position-y:center;
    width: 100%;
    height:auto;
    padding-top: 10vh;
    padding-top: 15em;
    padding-bottom: 2em;
}

.contact{
    width:100%;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    padding-right:2.4vw;
    padding-bottom:2.4vw;
}

span{
  height: 3em;
}



.about-header{
    margin: 0;
    cursor: default;
    font-size:2.4em;
    font-weight: 900;
    text-align: right;
    color:var(--main);
    max-width: 35vw;
    min-width: 10em;
}

.aboutButtons{
  display: flex;
  padding-right: 5em;
  margin-left: 5em;
  justify-content: flex-end;
}

.aboutButton{
  background-color: var(--main);
  border: 0;
  color: var(--third);
  font-weight: 600;
  margin-left: 1em;
  padding: .3em;
  font-size: 1.5em;
  text-decoration: none;
}

.aboutButton:hover{
  color: var(--fourth);
  cursor: pointer;
}

.header{
    color: rgb(121, 159, 121);
    writing-mode: vertical-lr;
    font-weight: 900;
    align-self:flex-start;
    margin: 0;
    height: max-content;
    margin-left:.1em;
    width: auto;
}

.menu{
    position: fixed;
    display:flex;
    font-weight: 800;
    flex-direction: column;
    justify-content: flex-end;
    color:rgb(255, 250, 243);
    background-color:var(--main);
    height: 100vh;
    width: 15vw;
    min-width: 100px;
    text-align: left;
    padding-left: 2vw;
}

.padding{
  margin:0;
  height:2em;
}

.Body{
  display: flex;
  flex-direction: column;
  width: 83vw;
  margin-left:17vw;
  height: auto;
}

.spacer{
  height: auto;
  width: 100vw;
  margin: 0;
  align-self: center;
}

.menuButton{
    background-color: transparent;
    color: rgba(245, 245, 245, 0.877);
    border: 0;
    font-size: 1.2em;
    font-weight: 800;
    width: fit-content;
    text-decoration: none;
}

.menuButton:hover{
    cursor: pointer;
    color:var(--fourth);
}



h1{
  font-weight: 900;
  margin-bottom: 0;
  margin-top: .24em;
  color: var(--third);
}

.triangle{
  color: var(--second);
  font-size: .6em;
}

h2{
    margin:.32em 0em;
    font-size: 3.2em;
    font-weight: 800;
    text-align: left;
    line-height: .8em;
    color: var(--main);
    text-decoration: none;
}

h3{
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: .24em;
  color: var(--third);
}

.about-text{
    text-align: right;
    margin: 0;
    line-height: normal;
    max-width: 11em;
    padding-left: 2em;

    min-width: 10em;
    font-size:2.5em;
}

.contact-text{
  margin:.32em 0em;
  font-size: 3.2em;
  font-weight: 800;
  line-height:1.4em;
  color: var(--main);
  text-decoration: none;
  font-size: 2em;
  text-align: right;
}

.smallContact{
    height: 0;
    display: flex;
    visibility: collapse;
}

.tooSmall{
  height: 0;
  display: flex;
  visibility: collapse;
}

.contact-text:hover, .projects-text:hover{
    text-decoration: underline !important;
    cursor:pointer;
    color: var(--second);
}

@media only screen and (max-width: 850px) {

  .Body{
    width: 80vw;
    margin-left: 20vw;
    height: min-content;
    overflow: hidden;
    position: fixed;
  }
  .about-body{
    background-size: 0;
  }
  .header{
    font-size: 3em;
  }
  .about-text{
    font-size: 2em;
  }
  
  .contact, .menuButton, .aboutButtons, .spacer{
    display: none;
  }

  .tooSmall{
  height: auto;
  visibility:visible;
  }

  .smallContact{
    height: auto;
    flex-direction: row;
    visibility: visible;
  }
}

@media only screen and (max-width: 1000px) {
  .lastName{
    height: 0;
    visibility: collapse;
  }

}