

.projects-background{
    display: flex;
    width: 100%;
    height: 100%;
}

.my-work{
    display: flex;
    flex-direction: row;
    width: auto;
    padding-top: 1em;
    padding-bottom: 5em;
}

.info{
    width:100%;
    height:40vw;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    padding-right:2.4vw;
}


.info-box{
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: var(--main);
    width: 18em;
    height: 45vh;
    padding:1.6em;
}

.info-title{
    font-size: 1.6em;
    font-weight: 800;
    color: var(--fourth);
    text-transform:uppercase;
}

.info-header{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.info-text{
    display: flexbox;
    color: var(--third);
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}

.info-button{
    background-color: transparent;
    border: none;
    color: var(--third);
    font-size: 1.6em;
    font-weight: 800;
}
.info-buttons{
    display:inline-flex;
    width: 100%;
    height: 100%;
    justify-content:space-between;
    align-items: flex-end;

}

.info-project-button{
    font-weight: 600;
    background-color: transparent;
    text-decoration: underline;
    color: var(--third);
    font-size: 1.2em;
}

.info-button:hover,.info-project-button:hover{
    color: var(--second);
    border-color: var(--second);
    cursor: pointer;
}

.info-button:disabled{
    color:transparent;
    cursor:default;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content:right;
    padding-left: 2em;
    padding-right: 4em;
}


.projects-text{
    margin:.32em 0em;
    font-size: 3.2em;
    font-weight: 800;
    text-align: left;
    line-height: .8em;
    color: var(--main);
    text-decoration: none;
}

.projects-text:hover{
    text-decoration: underline !important;
    cursor:pointer;
    color: var(--second);
}

@media only screen and (max-width: 850px) {
    .my-work{
        visibility: collapse;
    }

    .anchor{
        visibility: collapse;
        height: 5em;
    }
}